extends base

block content
    form(method="POST")
        input(placeholder="Name", name="name",type="text", reqruied, value=loggedInUser.name)
        input(placeholder="Email", name="email", type="email", reqruied, value=loggedInUser.email)
        input(placeholder="Username", name="username", type="text", reqruied, value=loggedInUser.username)
        input(placeholder="Location", name="location",type="text", reqruied, vaue=loggedInUser.location)  
        input(type="submit", value="Update Profile")